.cart {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    min-height: 300px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--white);
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

    @media screen  and (min-width: 768px){
        left: 70%;
        top: 12%;
    }
    @media screen  and (min-width: 1440px){
        left: 70%;
        top: 12%;
    }

    .cart-empty {
        display: flex;
        justify-content: center;
        text-align: center;

        p {
            width: 100%;
        }
    }

    .cart-item-wrapper {
        overflow-y: scroll;
        max-height: 250px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track{
            width: 5px !important;
        }
        
    }

    div:first-child {
        display: flex;
        justify-content: space-between;

        span {
            text-transform: capitalize;
            cursor: pointer;

            &:hover {
                color: var(--main-orange);
                transition: all .3s ease;
            }
        }
    }

    div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 1em;
    }

}



.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;


    .cart-item-info {
        display: flex;
    }


    img {
        object-fit: cover;
        max-width: 80px;
    }

    div:last-child {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: stretch;
        gap: 0;

        .add-to-cart {
            flex-direction: row;
            width: 100px;
            height: 40px;
            justify-content: space-between;
            background-color: #F1F1F1;


            span {
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;


                &:hover:not(span:nth-child(2)) {
                    cursor: pointer;
                    background-color: var(--main-orange);
                    color: var(--white);

                }
            }
        }
    }
}