.about-us {

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin-bottom: 5em;

    img {
        border-radius: 10px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        text-align: center;

        

        span {
            color: var(--main-orange);
        }
    }


    @media screen and (min-width: 768px) {
        div {
            justify-content: stretch;
            align-items: stretch;

            h3 {
                font-size: 3em;
                line-height: 1.2em;

                text-align: center;
                margin: auto;
            }

            p {
                width: 90%;
                margin: auto;
            }
        }

    }

    @media screen and (min-width: 1440px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        padding-bottom: 5em;
        padding-left: 0;
        padding-right: 0;

        div {
            justify-content: center;
            gap: 4em !important;
            align-items: flex-start;
            text-align: left;
            gap: 0;
            width: 40%;

            h3 {
                font-size: 3em;
                line-height: 1.2em;
                text-align: left;
            }

            p {
                width: 90%;
                margin-left: 0;
            }
        }

    }


}