.promotion-board {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.board {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    max-width: 1200px;

    margin: auto;

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        margin: auto;

    }

    @media screen and (min-width: 768) {}


    &:first-child {
        background-color: var(--main-orange);
        background-image: url("src/assets/home/desktop/pattern-circles.svg");
        background-position: center center;
        background-size: cover;
        padding-bottom: 3em;
        padding-top: 3em;
        gap: 5em !important;


        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            margin-top: 1em;
        }

        img {
            width: 100%;
            max-width: 300px;
            height: 100%;
            object-fit: cover;
        }

        @media screen and (min-width: 768px) {
            flex-direction: column;
            gap: 1em;
            height: auto;
            padding-bottom: 0;
            background-position: 0 -130px;
            background-repeat: no-repeat;

            div {
                width: 400px;
                max-width: 50%;
                text-align: center;
                align-items: center;
                gap: 2em;
                margin-bottom: 2em;
            }

            img {
                height: 100%;
                object-position: 0 10px;
            }

        }

        @media screen and (min-width: 1440px) {
            flex-direction: row;
            justify-content: center;
            gap: 1em;
            height: auto;
            background-position: -50px;
            background-size: 70%;

            div {
                max-width: 50%;
                text-align: left;
                align-items: flex-start;
            }

            img {
                height: 100%;
            }

        }
    }

    &:nth-child(2) {
        position: relative;
        padding: 0;
        color: var(--black);

        img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);




            button {
                background-color: transparent;
                border: 1px solid var(--black);
                color: var(--black);

                &:hover {
                    background-color: var(--black);
                    color: var(--white);
                    transition: all .3s ease;
                }
            }
        }

        @media screen and (min-width: 768px) {
            div {
                left: 25px;

            }

        }

        @media screen and (min-width: 1440px) {
            div {
                align-items: flex-start;
                left: 270px;
            }

        }


    }

    &:last-child {
        padding: 0;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        div {
            width: 100%;
            border-radius: 10px;
            margin-top: 1em;
            padding: 2em;
            background-color: var(--ligh-gray);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1em;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            gap: 1em;

            img {
                object-fit: cover;
                width: 50%;
                height: auto;
            }

            div {
                height: auto;
                margin: 0;
            }

        }

        @media screen and (min-width: 1440px) {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            gap: 1em;

            img {
                object-fit: cover;
                width: 50%;
                height: auto;
            }

            div {
                height: auto;
                margin: 0;
                width: 50%;
            }

        }



    }




}